nav(class="navbar navbar-expand-lg navbar-dark bg-dark px-2")
            a(href="/home" class="navbar-brand") #{config['settings']['name']}  
            ul(class="navbar-nav")
                li(class="nav-item")
                    if path == 'home'
                        a(class="nav-link active" href="/home") Home
                    else
                        a(class="nav-link" href="/home") Home
                li(class="nav-item")
                    if path == 'upload'
                        a(class="nav-link active" href="/upload") Upload
                    else
                        a(class="nav-link" href="/upload") Upload
                li(class="nav-item")
                    if path == 'paste'
                        a(class="nav-link active" href="/paste") Paste
                    else
                        a(class="nav-link" href="/paste") Paste
                li(class="nav-item")
                    if path == 'gallery'
                        a(class="nav-link active" href="/gallery") Gallery
                    else
                        a(class="nav-link" href="/gallery") Gallery
                li(class="nav-item")
                    if path == 'account'
                        a(class="nav-link active" href="/account") Account
                    else
                        a(class="nav-link" href="/account") Account
                li(class="nav-item")
                    if path == 'settings'
                        a(class="nav-link active" href="/settings") Settings
                    else
                        a(class="nav-link" href="/settings") Settings
            ul(class="navbar-nav ms-auto")
                li(class="nav-item")
                    a(class="nav-link" href="/api/theme")
                        if session.theme == 'dark'
                            i(class="fas fa-sun")
                        else
                            i(class="fas fa-moon")
                li(class="nav-item")
                    a(class="nav-link" href="/logout") Sign out