@import url("global.css");
.login-form {
    max-width: 30%;
    margin-top: 10%;
}
.auth-input {
    background-color: #6272a4;
    color: #c4c4c1;    
}
#remember {
    margin-right: 5px;
}
