.theme-dark {
    --body-color: #262c31;
    --text-color: #f8f8f2;
    --link-color: #bd93f9;
    --link-hover-color: #af76ff;
}
body.theme-dark {
    background-color: var(--body-color);
    color: var(--text-color);
}

.theme-dark a {
    color: var(--link-color);
}
.theme-dark a:hover {
    color: var(--link-hover-color);
}
.theme-dark .progress-bar {
    background-color: var(--link-hover-color);
}
.theme-dark .progress {
    background-color: rgba(0,0,0,.125);
}





.fa-sun {
    color: #f1fa8c;
}
.fa-moon {
    color: #bd93f9;
}