:root {
    --body-color: #262c31;
    --text-color: #f8f8f2;
    --link-color: #bd93f9;
    --link-hover-color: #af76ff;
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}
.progress-bar {
    background-color: var(--link-hover-color);
}
.progress {
    background-color: rgba(0,0,0,.125);
}
.dropzone {
    border: 2px solid #ff79c645;
    background: #1d2024;
}
.dropzone:hover {
    border: 2px solid #ff79c6;
}
.dz-drag-hover {
    border: 2px solid #ff79c6;
}
.fit-content {
    width: fit-content;
}
.hljs-ln td {
    padding: 0;
    padding-right: 10px;
}
.nav-tabs .nav-link.active {
    color: var(--text-color);
    border-color: rgba(0,0,0,.125);
}
.nav-tabs .nav-link:hover {
    border-color: rgba(0,0,0,.125);
}
footer {
    border-top: 1px solid rgba(0,0,0,.125)
}
nav, .nav-tabs {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #202428;
}
::-webkit-scrollbar-thumb {
    background: rgb(29 32 36);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 27, 31);
}


/*Light theme*/
.theme-light {
    --body-color: #f8f8f2;
    --text-color: #262c31;
    --link-color: #bd93f9;
    --link-hover-color: #af76ff;
}
.theme-light::-webkit-scrollbar-track {
    background: #d5d5d5;
}
.theme-light::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 6px;
}
.theme-light::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}
.theme-light .uploaded-file {
    background-color: rgb(240 241 242);
}
.theme-light .dropzone {
    border: 2px solid #ff79c678;
    background: rgb(240 241 242);
}
.theme-light .dropzone:hover {
    border: 2px solid #ff79c6;
}





.fa-sun {
    color: #f1fa8c;
}
.fa-sun {
    color: #f2ff60;
}
.fa-moon {
    color: #bd93f9;
}
.fa-moon:hover {
    color: #af76ff;
}


.dropzone .dz-preview .dz-image {
    border-radius: 0px;
}
.dropzone .dz-preview.dz-image-preview {
    background: none;
}
.dropzone .dz-preview.dz-processing .dz-progress {
    margin: auto;
    margin-top: 20%;
}

.gallery-image {
    width: 15%;
    height: auto;
}

.avatar {
    max-height: 150px;
    max-width: 150px;
}
.username {
    background-color: #00000091;
    color: #f8f8f2;
}
.uid {
    color: #c7c7c7;
}
.user-background {
    background-size: cover;
}
.change-banner-button {
    display: none;
}
.edit-banner:hover .change-banner-button {
    display: inline-block;
}
.change-avatar-button {
    display: none;
    transform: translateY(400%) translateX(20%);
    cursor: pointer;
}
.edit-avatar:hover .change-avatar-button {
    display: block;
}

.file-url {
    display: none;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    padding: 10px;
}
.uploaded-file:hover > .file-url {
    display: block;
}
.hidden:not(:focus) {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}