doctype html 
html
    head
        include include/head.pug
        link(href="styles/home.css" rel="stylesheet" type="text/css")
        script(src="/js/paste.js")
        title Paste
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class="modal" tabindex="-1" role="dialog" id="paste-modal")
                div(class="modal-dialog" role="document" style="min-width: 700px")
                    div(class=bg + "modal-content fit-content ms-auto me-auto")
                        div(class="modal-header")
                            h5(class="modal-title") Paste Created
                        div(class="modal-body")
                            div(class="row")
                                div(class="col-md-12")
                                    pre(class="p-3 mt-2 mb-2")
                                        code(class="p-3 rounded text-muted" id="paste-url")
                                    span Click to copy to clipboard
                        div(class="modal-footer")
                            button(type="button" class="btn btn-danger" data-bs-dismiss="modal") Close
            div(class=bg + "card mt-5 mx-auto w-75")
                h1(class=bg + "card-header") Paste
                div(class="card-body")
                    input(class="form-control form-control-lg" type="text" id="paste-title" placeholder="Title" name="title")
                    textarea(class="form-control mt-4" id="paste-input" rows="3" name="content" style="height: 300px")
                    div(class="mt-2")
                        input(class="form-check-input" type="checkbox" name="burn" value="on" id="paste-burn")
                        label(class="form-check-label ms-1" for="paste-burn")
                        | Burn after reading
                    label(for="syntax-select")
                        | Syntax Highlighting
                    select(class="form-control w-25" id="syntax-select" name="syntax")
                        option(value="none") None
                        option(value="auto") Automatic Detection
                        option(value="bash") Bash 
                        option(value="c") C
                        option(value="c#") C#
                        option(value="c++") C++
                        option(value="css") CSS
                        option(value="diff") Diff
                        option(value="go") Go
                        option(value="html") HTML/XML
                        option(value="json") JSON
                        option(value="java") Java
                        option(value="javascript") JavaScript
                        option(value="kotlin") Kotlin
                        option(value="less") Less
                        option(value="lua") Lua
                        option(value="makefile") Makefile
                        option(value="markdown") Markdown
                        option(value="objectivec") Objective-C
                        option(value="php") PHP
                        option(value="perl") Perl
                        option(value="ruby") Ruby 
                        option(value="rust") Rust
                        option(value="scss") SCSS
                        option(value="sql") SQL
                        option(value="shell") Shell
                        option(value="swift") Swift
                        option(value="toml") TOML/INI
                        option(value="typescript") TypeScript
                        option(value="basic") Visual Basic .NET
                        option(value="yaml") YAML
                    button(type="submit" id="paste-preview" class="btn btn-secondary mt-2") Preview
                    button(type="submit" id="paste-submit" class="btn btn-primary mt-2 ms-2") Submit
        include include/footer.pug