doctype html 
html
    head
        script(src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js")
        link(rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css")
        include include/head.pug
        script(src="js/dropzone.js")
        link(href="styles/home.css" rel="stylesheet" type="text/css")
        title Upload
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class=bg + "card mt-5 mx-auto w-75")
                h1(class=bg + "card-header") Upload Files
                div(class="card-body")
                    form(class="dropzone" id="dropzone")
        include include/footer.pug  