doctype html 
html
    head 
        script(src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js")
        link(rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css")
        include include/head.pug
        link(href="styles/home.css" rel="stylesheet" type="text/css")
        script(src="js/dropzone.js")
        title Upload
    - var theme = 'theme-' + session.theme
    body(class=theme)
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark px-2")
            a(href="/home" class="navbar-brand") #{config['settings']['name']}  
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link" href="/home") Home 
                li(class="nav-item")
                    a(class="nav-link active" href="/upload") Upload
                li(class="nav-item")
                    a(class="nav-link" href="/paste") Paste
                li(class="nav-item")
                    a(class="nav-link" href="/gallery") Gallery
                li(class="nav-item")
                    a(class="nav-link" href="/account") Account
                li(class="nav-item")
                    a(class="nav-link" href="/settings") Settings
            ul(class="navbar-nav ms-auto")
                li(class="nav-item")
                    a(class="nav-link" href="/api/theme")
                        if session.theme == 'dark'
                            i(class="fas fa-sun")
                        else
                            i(class="fas fa-moon")
                li(class="nav-item")
                    a(class="nav-link" href="/logout") Sign out
        div(class="container")
            div(class="card mt-5 bg-dark mx-auto w-75")
                h1(class="card-header bg-dark") Upload Files
                div(class="card-body")
                    form(method="POST" action="/upload" class="dropzone dz-clickable" id="file-upload")
        include include/footer.pug